
.clients-page {
    padding: 30px;
}

.clients-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.clients-header h2 {
    color: #f97316;
}
.clients-header button {
    padding: 8px 15px;
    border: none;
    background-color: #f97316;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
.clients-header button:hover {
    background-color: #ea580c;

}
